@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"rel="stylesheet");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-color-rgb: 0, 0, 0;
  --background-dot: 0, 0, 0;
  --background-container: 255, 255, 255;
  --dropdown-color: 71, 197, 255;
  --profile-text-color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --border-color-rgb: 255, 255, 255;
    --background-dot: 255, 255, 255;
    --background-container: 0, 0, 0;
    --dropdown-color: 71, 197, 255;
    --profile-text-color: 255, 255, 255;
  }
}

html {
  overflow: hidden;
}

.main {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  background-size: 30px 30px, 30px 30px;
  background-position: 0 0, 0px 0px;
  background-image: radial-gradient(
    rgb(var(--background-dot)) 1px,
    transparent 0
  );
}

.main-2 {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  padding: 12px 0;
  border: 1px solid rgb(var(--border-color-rgb));
  border-radius: 26px;
  width: 100%;
}

.container_box {
  background-color: rgb(var(--background-container));
}

.form-input {
  outline: 0;
}

.next-button {
  transition-property: background-color;
  transition-duration: 0.4s;
}

.nav-link {
  border: 1px solid white;
  padding: 3px 18px;
  box-sizing: border-box;
}

.pause {
  animation-play-state: paused;
}

.profile-text {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(var(--profile-text-color));
}

.link {
  padding: 2px 10px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.ig {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.yt {
  background-color: red;
}

.sy {
  background-color: #1db954;
}

#selected-month {
  background-color: rgb(var(--dropdown-color)) !important;
}

#month:hover {
  background-color: rgb(var(--dropdown-color));
}

#selected-day {
  background-color: rgb(var(--dropdown-color)) !important;
}

#day:hover {
  background-color: rgb(var(--dropdown-color));
}

#selected-year {
  background-color: rgb(var(--dropdown-color)) !important;
}

#year:hover {
  background-color: rgb(var(--dropdown-color));
}
